.ICEauthority
	.bash_history
	.bash_logout
	.bash_profile
	.bashrc
	.bundle/
	.cache/
	.config/
	.esd_auth
	.gem/
	.gnome/
	.gnupg/
	.irb-history
	.local/
	.mozilla/
	.pki/
	.ssh/
	Desktop/
	Documents/
	Downloads/
	Fedora21-Railsenvironmentsetup (1).pdf
	OMG/
	Pictures/
	organization/
	user_authentication/
